.app-header {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // color: blue;
    // font-family: 'Righteous', cursive;
    padding: 1rem;
    border-radius: 0.5rem;

    h1 {
        margin: 0.2rem;
    }


    nav {
        // border: 1px solid;
        // border-radius: 20px;
        margin: 0.2rem;

        a {
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            // color: yellow;
        }
    }
}

.menu-icon-container{
    display: flex;
}

.hamburger-icon {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;

}

.menu {
    width: 7rem;
    /* Adjust for smaller screens */
    top: 0rem;
    /* Adjust the top position */
    right: 0rem;
    // display: none;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: absolute;
    background-color: white;

    padding: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.menu.show {
    display: flex;
    align-items: center;
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    
    .custom-navlink{
        font-weight: bold;
    }
}

button.close-menu {

    font-weight: 700;
    font-size: 1.2rem;
    color: #080924;
    background-color: rgba(255, 255, 255, 0);
    font-family: inherit;
    text-decoration: inherit;
    // padding: 0.5rem 1rem;
    text-decoration: none;
    border: none;
    line-height: 1.5;
    align-self: flex-end;
}

button.close-menu:hover {
    color: #535bf2;
    cursor: pointer;
}

.user-side{
    display: flex;
    gap: 0.5rem;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    text-align: center;
    font-size: 0.85em;
    justify-content: center;
    
    .user-info-greeting{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        
    }

    .user-info {
        font-weight: bolder;
    }

    .logout-btn {
        
        color: #0075FF;
        background-color: transparent;
        border: none;

        // color: black;
        // border: 1px solid #222b35;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.150);

        padding: 0.25rem 0.25rem 0.5rem 0rem;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        text-decoration: none;
        display: inline-block;
        outline: none;
        border-radius: 4px;
        
    }

    .logout-btn:hover {
        color: #222b35;
        
        
        // color: white;
        // background-color: #222b35;
    }
}

@media (max-width: 765px) {

    .app-header {
        
        h1 {
            font-size: 2em;
            line-height: 1.5;
        }

        .user-info-container {
            font-size: 0.85em;
        }

        .logout-btn {
            // border: 1px solid #222b35;
            // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.150);
            padding: 0.25em 0.25rem 0.5em 0.5rem;
            font-size: 0.85em;
        }
    }

    .user-info-container {
        align-items: center;
       
        // .user-info-greeting{
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     gap: 5px;
        // }
    }

    .menu {
        width: 7rem;
        /* Adjust for smaller screens */
        // top: 0.5rem;
        /* Adjust the top position */
        right: 0rem;
    }

    .user-side{  
        // gap: 0rem;
    }
      
    
}

@media (max-width: 460px) {

    .app-header {
        
        h1 {
            font-size: 6vw;
            line-height: 1.5;
        }

        .user-info-container{
            font-size: 3vw;
        }
    }
}

@media (max-width: 340px) {

    .app-header {
        
        h1 {
            font-size: 5.5vw;
            line-height: 1.5;
        }

        .user-info-container{
            font-size: 2.5vw;
        }

        button.hamburger-icon{
            font-size: 1.2rem;
        }
    }
}
